.container {
  background-color: #90ee90;
  display: flex;
  /* flex-wrap: wrap; */
  /* align-content: space-around; */
  /* flex-direction: row-reverse;
  flex-wrap: wrap; */
  /* flex-flow: row wrap; */
  height: 600px;
  width: 300px;
  /* justify-content: center; */
  /* align-items: center; */
}

.box {
  background-color: lightcoral;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  /* order: 1; */
  /* flex-grow: 0; */
  flex-shrink: 1;
}

.item2 {
  /* order: 3; */
  /* flex-grow: 1; */
  flex-shrink: 1;
}

.item3 {
  /* order: 0; */
  /* flex-grow: 2; */
  flex-shrink: 2;
}

.item4 {
  /* order: 2; */
  /* flex-grow: 3; */
  flex-shrink: 1;
}
