.box1 {
  width: 200px;
  height: 100px;
  background-color: lightblue;
  border: 2px solid black;
}

.box2 {
  width: 50%;
  min-width: 300px;
  height: 200px;
  background-color: rgb(173, 230, 186);
  border: 2px solid black;
}

.box3 {
  width: 300px;
  height: 200px;
  min-height: 100px;
  max-height: 250px;
  background-color: rgb(191, 230, 173);
  border: 2px solid black;
}
